<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
  <appSettings>
    <add key="EngineFileName" value="engine.exe" />
    <add key="FenCommand" value="position fen" />
    <add key="GoCommand" value="go depth 20" />
    <add key="CloudBookURL" value="http://www.chessdb.cn/cdb.php" />
    <add key="StartFEN" value="rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq -" />
    <add key="Threads" value="1" />
    <add key="MinDepth" value="5" />
    <add key="MaxDepth" value="10" />
  </appSettings>
</configuration>
