<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="64"/>
    </connectionManagement>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="EngineFileName" value="engine.exe"/>
    <add key="FenCommand" value="fen"/>
    <add key="GoCommand" value="go depth 20"/>
    <add key="CloudBookURL" value="http://www.chessdb.cn/chessdb.php"/>
    <add key="StartFEN" value="rnbakabnr/9/1c5c1/p1p1p1p1p/9/9/P1P1P1P1P/1C5C1/9/RNBAKABNR w"/>
    <add key="Threads" value="1"/>
    <add key="MinDepth" value="5"/>
    <add key="MaxDepth" value="10"/>
  </appSettings>
</configuration>
