<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <appSettings>
    <add key="EngineFileName" value="selmove.exe" />
    <add key="GoCommand" value="sel 12 5 200" />
    <add key="CloudBookURL" value="http://www.chessdb.cn/cdb.php" />
    <add key="AccessToken" value="123456" />
    <add key="ExitAfterEmptyQueue" value="false" />
    <add key="ExitAfterResume" value="false" />
    <add key="Threads" value="1" />
    <add key="AutoProcessorAffinity" value="false" />
  </appSettings>
</configuration>
